In [1]:
from finlib.tick_data import read_csv
from finlib.bars import time_bars

tick_data = read_csv('/home/victorvalentee/python_projects/data/test/binance_ticks.csv')

In [2]:
time_bars(tick_data, '1S')

,time,open,close,high,low,volume_contracts,volume_dollars,vwap,buyer_maker_pct,best_match_pct
0,2020-01-01 00:00:00.594,7195.24,7196.25,7196.25,7195.24,0.250798,1804.802077,7196.237919,0.250000,1.0
1,2020-01-01 00:00:01.503,7195.25,7196.24,7196.24,7195.24,1.293336,9306.356791,7195.621858,0.058824,1.0
2,2020-01-01 00:00:02.623,7196.22,7195.24,7196.24,7195.24,0.528896,3805.940374,7196.008996,0.166667,1.0
3,2020-01-01 00:00:03.420,7195.83,7195.83,7195.83,7195.83,0.089730,645.681826,7195.830000,0.000000,1.0
4,2020-01-01 00:00:04.458,7195.24,7195.24,7195.24,7195.24,0.150432,1082.394344,7195.240000,1.000000,1.0
...,...,...,...,...,...,...,...,...,...,...
44903,2020-01-01 12:28:23.120,7213.23,7213.08,7213.23,7213.08,0.093954,677.698766,7213.091149,0.250000,1.0
44904,2020-01-01 12:28:24.244,7213.08,7212.69,7213.08,7210.63,0.788641,5687.701226,7212.028319,0.727273,1.0
44905,NaT,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
44906,2020-01-01 12:28:26.092,7212.06,7212.12,7212.16,7211.97,1.107114,7984.493605,7211.988652,0.000000,1.0
44907,2020-01-01 12:28:27.625,7211.94,7211.94,7211.94,7211.94,0.004909,35.403413,7211.940000,0.000000,1.0